@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Henny+Penny&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Manufacturing+Consent&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Henny+Penny&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Manufacturing+Consent&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&display=swap');

:root {
    --fontedestaque:"Henny Penny";
    --fontpadrao:"Quicksand";
    --fontepadrao02: "Nunito";
}

body {
    background-image: linear-gradient(to bottom, black, rgba(53, 4, 81, 0.492));
}

body > h2 {
    text-align: center;
    font-family: var(--fontpadrao);
    font-weight: normal;
    font-size: 15px;
}

h2 > a {
    text-decoration: none;
    color: gray;
    font-size: 17px;
}

h2 > a:hover {
    color: white;
    transition-duration: 0.3s;
}

header {
    text-align: center;
    font-family: var(--fontedestaque);
    font-weight: normal;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
}

nav a {
    text-decoration: none;
    font-family: var(--fontedestaque);
    font-size: 15px;
    color: gray;
    margin-right: 15px;
}

nav a:hover {
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}

main {
    margin: auto;
    max-width: 60%;
    text-align: center;
}

picture > img {
    max-width: 100%;
}

main > p {
    font-family: var(--fontpadrao);
    color: lightgray;
    padding-top: 20px;
    padding-bottom: 5px;
}

main > h1 {
    font-family: var(--fontedestaque);
    font-weight: normal;
    padding-top: 30px;
    color: white;
}

iframe {
    max-width: 95%;
    border-radius: 30px;
}

img {
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: filter 0.2s ease-in-out;
}

img:hover {
    transform:translate(8px);
    transition-duration: 0.7s;
    filter:blur(5px);
}

div a {
    text-decoration: none;
    font-family: var(--fontepadrao02);
    color: gray;
    font-size: 15px;
}

div a:hover {
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}

footer {
    text-align: center;
    font-family: var(--fontepadrao02);
    font-weight: normal;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
}

footer {
    color: gray;

}

footer a {
    color: gray;
    font-weight: normal;
    text-decoration: none;
}

footer a:hover {
    color: white;
    font-weight: bold;
    transition-duration: 0.3s;
}
