@charset "UTF-8";

/* Estilo geral */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Henny+Penny&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Manufacturing+Consent&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Henny+Penny&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Manufacturing+Consent&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&display=swap');

:root {
    --cor01:"rgba(55, 4, 85, 0.774)";
    --fontedestaque:"Henny Penny";
    --fontpadrao:"Quicksand";
    --fontepadrao02: "Nunito";
}

body {
   background-image: linear-gradient(to right, black, rgb(23, 2, 36));
}

body > h2 {
    text-align: center;
    font-family: var(--fontpadrao);
    font-weight: normal;
    font-size: 15px;
}

header {
    text-align: center;
    font-family: var(--fontedestaque);
    font-weight: normal;
    background-color:black;
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px solid black;
}

nav a {
    text-decoration: none;
    font-family: var(--fontepadrao02);
    font-size: 15px;
    color: lightgray;
    margin-right: 15px;
}

nav a:hover {
    color: black;
    background-color:rgba(211, 211, 211, 0.808);
    border-radius: 20px;
    padding: 8px;

    transition-duration: 0.5s;
}

main {
    margin: auto;
    max-width: 950px;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

picture > img {
    max-width: 380px;
}

div.video {
    margin: 0px -30px 0px 40px -30px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    border-radius: 20px;
    max-width: 750px;
    margin: auto;
    position: absolute;
    top: 5% ;
    left: 5% ;
    width: 90% ;
    height: 90% ;
}

main > p {
    font-family: var(--fontpadrao);
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
}

main > h1 {
    font-family: var(--fontedestaque);
    font-weight: normal;
    padding-top: 20px;
    color:lightgray;
}

h2 > a {
    text-decoration: none;
    color: gray;
    font-size: 17px;
}

h2 > a:hover {
    color: black;
    background-color:rgba(211, 211, 211, 0.808);
    border-radius: 20px;
    padding: 10px;

    transition-duration: 0.5s;
}

.produto-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

img {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div > a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-family: var(--fontepadrao02);
    font-weight: normal;
    background-color:black;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

footer > p > a {
    text-decoration: none;
    color: gray;

}

footer a:hover {
    color:white;
    transition-duration: 0.4s;
}
